<%= stylesheet_link_tag 'signups', media: 'all' %>
<%=yield%>
<div class="signup-container">
  <h1>Sign Up</h1>
  <%= form_for(@signup) do |f| %>
    <div class="form-group">
      <%= f.label :firstname, "First Name" %>
      <%= f.text_field :firstname, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :email, "Email" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    
    <%= f.submit "Sign Up", class: "btn btn-primary" %>
  <% end %>
</div>
